.container-full {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: auto;
  height: 100vh;
}

.info {
  display: block;

  & .name {
    display: block;
    font-weight: bold;
    font-size: 2.5rem;
  }
  
  & .title {
    display: block;
    font-weight: 600;
    font-style: italic;
    font-size: 2rem;
    margin-top: 1rem;
    color: rgb(26, 39, 39);
  }
}

.social-links {
  font-size: 1.5rem;
  transition: color 0.2s ease-in-out;

  .fa-envelope {
    transition: color 0.2s ease-in-out;
    &:hover {
      color: rgb(98, 0, 255);
    }
  }

  .fa-linkedin {
    transition: color 0.2s ease-in-out;
    &:hover {
      color: rgb(0, 119, 255);
    }
  }

  .fa-github {
    filter: invert(0%);
    transition: filter 0.2s ease-in-out;
    &:hover {
      filter: invert(100%);
    }
  }

  .fa-twitter {
    transition: color 0.2s ease-in-out;
    &:hover {
      color: lightskyblue;
    }
  }

  .fa-instagram {
    transition: color 0.2s ease-in-out;
    &:hover {
      color: rgb(250, 133, 54);
    }
  }

}

.top {
  position: absolute;
  top: 1rem;
}

.top-left {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.top-right {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.bottom {
  position: absolute;
  bottom: 1rem;
}

.bottom-left {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.bottom-right {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.case-status {
  transition: color 0.2s ease-in-out;
  
  &:hover {
    color: #419EF8;
    text-decoration: underline;
  }
}
