{{!-- head-layout is for setting head tags, such as meta tags and the like for SEO and Social Sharing --}}
{{head-layout}}

{{title "Aderhold.io"
        separator=" | "
        prepend=false
        replace=false}}

<Navbar />

<div class="container-full">
  {{outlet}}
</div>